@media (max-width: 800px) {
  .box-container {
   flex-direction: column;
   margin: 0 auto;
   margin-bottom: 2rem;
   margin-top: 2rem;
   gap: 2rem;
  }

  .box-container > .box1 {
    width: 90%;
  }

  .plans {
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    margin-top: 2rem;
  }

  .plans > .basic {
    width: 90%;
  }

  .bold-text {
    width: 85%;
  }

  .subtext {
    width: 85%;
  }
}
